div.timeRow {
	padding: 2em;
	border: 1px solid lightgray;
	margin-bottom: 1px;
}

div.timeRow.booked,
div.timeRow.booked:nth-child(even) {
	background-color: tomato;
}

div.timeRow:nth-child(even) {
    background-color: aliceblue;
}

/* modal styling */
.dlg-modal {
	min-width: 25%;
	min-height: 20%;
	padding: 1em;
	background-color: white;
	border: 1px solid lightgray;
	position: fixed;
	left: 25%;
	top:30%;
	outline: none;
}

h2.dlg-header {
	text-align: center;
}

div.inputRow {
	padding: 5px;
	text-align: center;
	display: flex;
	width: inherit;
}

input.dlg-input {
	margin-left: 10px;
	width: inherit;
	min-width: 60%;
	max-width: 90%;
}

.dlg-save {
	float: right;
	width: 65px;
	margin-top: 10%;
}
